html {
  background-color: white;
  max-width: 100%;
}

body {
  max-width: 430px;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: auto;
  background-color: rgba(174, 127, 36, 0.6);
  display: flex;
  flex-direction: column;
  font-family: "Acme", sans-serif;
}

main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header, footer {
  height: 10%;
  width: 100%;
}

/************************  Header *******************************/
header {
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  overflow: hidden;
}

.header-nav-ul {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-top: 3rem;
  margin-left: -2.5rem;
}

.header-nav-ul a {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.home-nav-bar {
  display: grid;
  grid-template-columns: 15% 60% 25%;
  justify-content: center;
  align-items: center;
}

.nav-icone {
  display: flex;
  gap: 2rem;
}

.burger, .burgercolor a {
  color: #AE7F24;
}
.burgercolor a {
  margin-left: 0.5rem;
}


.fa-cart-shopping {
  color: white;
  background-color: #AE7F24;
  border-radius: 50%;
  padding: 1rem 2.5rem 1rem 1rem;
  margin-top: -1rem;
  position: relative;
  margin-left: -1rem;
}

.cart-item-count {
  position: absolute;
  left: 95%;
  font-size: 1.2rem;
  top: 14px;
  color: #AE7F24;
}

h1 {
  color: #00295B;
  font-size: 2.3rem;
  font-family: "Acme", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-left: -0.6rem;
}

.home-nav-bar ul {
  width: 60%;
  display: flex;
}

.display-none li {
  display: none;
}

.home-nav-bar i {
  font-size: 2rem;
}

/*************************** End of Header ************************/




/**************************** Main **********************************/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/*********************** Bar de recherche ***********************/
.search-bar {
  position: relative;
  margin: -1.5rem;
}

.search-button {
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.search-bar input[type="search"]::placeholder {
  font-size: 1rem;
  -webkit-text-fill-color: #888;
  -webkit-box-shadow: 0 0 0 30px #364c68 inset;
  box-shadow: 0 0 0 30px #364c68 inset;
}

.search-bar input {
  width: 300px;
}

ul {
  margin: 0;
  padding: 0;
}

.search-button, .home-nav-bar button {
  border: none;
  background: inherit;
}

fieldset {
  border: none;
}

form, button {
  font-family: "Merienda", cursive;
  font-weight: 400;
}

form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
}

input, select, textarea {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 7px;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0 30px #364c68 inset;
  box-shadow: 0 0 0 30px #364c68 inset;
}

label {
  display: none;
}

button {
  background-color: #00295B;
  padding: 0.5rem;
  color: white;
  border-radius: 15px;
  width: 40%;
  align-self: center;
}





/************************* page home ***************************/
.home-page-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-height: 88vh;
}

.home-page-div ul {
  list-style: none;
}

.category-name {
  background-color: #00295B;
  border-radius: 15px;
  margin: 1rem;
  padding: 0.5rem;
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  overflow: hidden;
}

.category-name a {
  color: white;
}

.img-far-home {
  margin-top: 1rem;
}

.breadcrumb-font-size {
  font-size: 1rem;
  color: #00295B;
}
/* Style de la liste de fil d'Ariane */
.breadcrumb {
  background-color: transparent; /* Pour enlever le fond par défaut */
  padding: 0;
 
}

/* Style des éléments de la liste */
.breadcrumb .breadcrumb-item {
  font-size: 1rem; /* Ajustez la taille de la police selon vos besoins */
}

/* Style des liens */
.breadcrumb .breadcrumb-item a {
  color: #00295B; /* Couleur des liens */
  text-decoration: none; /* Supprime le soulignement des liens */
}

/* Style des liens au survol */
.breadcrumb .breadcrumb-item a:hover {
  color: #0056b3; /* Couleur des liens au survol */
  text-decoration: underline; /* Ajoute un soulignement au survol */
}

/* Style de l'élément actif */
.breadcrumb .breadcrumb-item.active {
  color: #6c757d; /* Couleur de l'élément actif */
}

/****************** image produit home ***************************/
.category-product-image {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
  width: 400px;
  overflow: hidden;
  margin-bottom: 1rem;
}
.category-product-image li {
  height: 110px;
}
.category-product-image li img {
  width: 100%;
  height: auto;
}

.home-img-div {
  margin-top: -2rem;
}
/******************** end of image produit home *********************/



/************************** footer ************************/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #AE7F24;
  height: 100px;
  font-size: 12px;
}

footer a {
  color: white;
}

li {
  list-style: none;
}

footer i {
  color: #00295B;
  font-size: 2rem;
  padding-top: 1.5rem;
}

.productForm {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgba(174, 127, 36, 0.4);
  margin-bottom: 1rem;
}

.productForm fieldset {
  margin-bottom: 15px;
}

.productForm label {
  display: none;
}

.productForm input,
.productForm textarea,
.productForm select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#submitButton {
  padding: 10px 20px;
  background-color: #00295B;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

#submitButton:hover {
  background-color: #00295B;
}

/******************** page shopping cart ***************************/
.shopping-cart-page {
  width: 90%;
  margin: auto;
  background-color: rgba(174, 127, 36, 0.6);
  padding: 1rem;
}

.payment-cart-button {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-cart-button p {
  text-align: center;
  font-size: 1.5rem;
  color: #333333;
}

.product-cart-item {
  background-color: white;
  padding: 1rem;
  height: auto;
}

.cart-image {
  width: 90px;
  height: auto;
}

.cart-image img {
  width: 100%;
  height: auto;
}

.cart-product-title h3 {
  color: #00295B;
  font-size: 1.4rem;
}

.cart-product-button {
  height: 40px;
  margin-top: -1rem;
}

.cart-product-button input {
  padding: 0.3rem;
}

.cart-subtotal {
  padding-top: 1rem;
  font-size: 1.2rem;
}

.price-cart {
  font-size: 1.2rem;
}
/***************** End of shopping cart page **********************/





/******************** products category page ***********************/
.products-category {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-bar-category {
  margin-bottom: -0.5rem;
}

.category-product-list {
  margin-top: -1.5rem;
}
.breadcrumb-style-margin {
  margin-top: 0.5rem;
}
.products-category h2 {
  color: #00295B;
  font-size: 1.7rem;
}

.products-category p {
  font-size: 1.4rem;
}

/* Style du carrousel */
.carousel-control-prev .visually-hidden,
.carousel-control-next .visually-hidden {
  font-weight: bold;
}

.carousel {
  width: 200px;
  height: 200px;
}

.carousel-inner {
  width: 100%;
  height: 100%;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products-group {
  width: 400px;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2.5rem;
  margin: 1.5rem 0 1rem 0;
  background-color: rgba(174, 127, 36, 0.6);
  padding: 0.5rem;
}

.carrousel-img {
  margin-top: 0.5rem;
}

.poduct-title-description {
  margin-top: 0.5rem;
  width: 150px;
  font-size: 1rem;
}

.poduct-title-description .product-category-cart a {
  color: white;
  background-color: #00295B;
  padding: 0.5rem;
  border-radius: 15px;
  font-size: 1rem;
}

.product-see-more a {
  color: #6643e6;
  text-decoration: underline;
}
/**************** end of products category page *********************/




/********************  Page product ******************************/
.main-product-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product-detail {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgba(174, 127, 36, 0.6);
  font-family: "Acme", sans-serif;
  font-weight: 200;
  font-style: normal;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.product-detail-slider-box-img {
  width: 350px;
  height: auto;
}

.product-description {
  font-size: 1.2rem;
  color: #00295B;
}

.product-price {
  color: #00295B;
  margin: 1rem;
  font-size: 1.5rem;
}

.product-detail h2 {
  color: #00295B;
  font-size: 1.5rem;
  width: 400px;
  text-align: center;
}

.product-detail p {
 text-align: center;
}

.product-link-add-cart a {
  background-color: #00295B;
  color: white;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 15px;
  font-size: 1.2rem;
  display: inline-block; /* S'assurer que le lien est en ligne */
  text-align: center; /* Centrer le texte */
  white-space: nowrap; 
}

.search-bar-product {
    margin: 0;  
}
/**************** End of Page product ******************************/




/*************** Modal succeeded add cart message *****************/
.modal {
  display: none; /* Masquée par défaut */
  position: fixed; /* Rester en place (fixée) */
  z-index: 1000; /* Rester au-dessus */
  padding-top: 20px; /* Emplacement de la boîte */
  left: 0;
  top: 0;
  width: 100%; /* Pleine largeur */
  height: 100%; /* Pleine hauteur */
  overflow: auto; /* Activer le défilement si nécessaire */
  background-color: rgba(0, 0, 0, 0.4); /* Couleur de fond avec opacité */
}

/* modal content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 90%;
  max-width: 300px;
  border-radius: 10px;
  text-align: center;
}

/* Modal button */
.close {
  color: #aaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/***************** End Modal succeeded add cart message*************/



/******************** register login page ************************/
/* Style for the toggle link */
.toggle-link {
  color: #00295B;
  cursor: pointer;
  text-decoration: underline;
  margin-top: 10px;
  display: block;
}

/* Main container styling */
.main-container {
  max-width: 430px;
  
}

/* Form section styling */
.form-section {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(174, 127, 36, 0.6);
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

/* Form headings */
.form-section h2 {
  margin-bottom: 20px;
  font-size: 1.9rem;
  color: #00295B;
  text-align: center;
}

/* Hide labels */
.form-section label {
  display: none;
}

/* Form inputs */
.form-section input {
  width: 270px;
  height: 40px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

/* Submit buttons */
.form-section button[type="submit"] {
  width: 170px;
  background-color: #00295B;
  color: #fff;
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
  margin: 20px auto;
}

.form-section input::placeholder {
  font-size: 0.8rem;
  -webkit-text-fill-color: #888;
  -webkit-box-shadow: 0 0 0 30px #364c68 inset;
  box-shadow: 0 0 0 30px #364c68 inset;
}

.authentification-question {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
/* Style for hidden elements */
.hidden {
  display: none;
}
/******************** End of register login page*******************/




/******************** payment page ******************************/
.payment-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.fieldset-payment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delivery-options {
  width: 400px;
  background-color: white;
  padding: 1rem;
  font-size: 1.2rem;
}

.delivery-options h2, 
.delivery-options p {
  text-align: center;
  color: #00295B;
}

.delivery-options button {
  width: 350px; 
  margin-bottom: 1.5rem;
}

#payment-form {
  width: 400px;
  background-color: rgba(174, 127, 36, 0.6);
  margin-bottom: 1rem;
}

#payment-form input {
   width: 300px; 
   font-size: 0.9rem;
}

#payment-form input::placeholder {
  font-size: 0.8rem;
  -webkit-text-fill-color: #888;
  -webkit-box-shadow: 0 0 0 30px #364c68 inset;
  box-shadow: 0 0 0 30px #364c68 inset;
}

#payment-form button {
  margin-top: 1rem;
}

.disabled {
  color: #888;
}
/******************** end of payment page***************************/





/******************** admin page ******************************/
/* General styles for admin layout */
.admin-header {
  background-color: rgba(174, 127, 36, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
}

.admin-main {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  margin-top: 2rem;
}

.admin-nav {
  width: 100%;
  margin-bottom: 20px;
}

.admin-nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  background-color: #333;
  border-radius: 5px;
}

.admin-nav li {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #444;
}

.admin-nav li:last-child {
  border-bottom: none;
}

.admin-nav a {
  display: block;
  padding: 10px 0;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 1.2rem;
}

.admin-nav a:hover {
  background-color: #575757;
}

.admin-content {
  width: 95%;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.admin-content h2 {
  margin-top: 0;
  color: #00295B;
  font-size: 1.7rem;
  text-align: center;
}

.admin-content p {
  color: #666;
  text-align: center;
}

/******************** end of admin page******************************/




/******************** add product page ******************************/
.productForm {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.productForm input::placeholder,
.productForm textarea::placeholder,
.productForm select::placeholder {
  font-size: 0.8rem;
  -webkit-text-fill-color: #888;
  -webkit-box-shadow: 0 0 0 30px #364c68 inset;
  box-shadow: 0 0 0 30px #364c68 inset;
}

.productForm input[type="file"] {
  font-size: 0.8rem;
  -webkit-text-fill-color: #888;
  -webkit-box-shadow: 0 0 0 30px #364c68 inset;
  box-shadow: 0 0 0 30px #364c68 inset;
  margin-left: 2rem;
}

.productForm input,
.productForm textarea, 
.productForm select {
  width: 300px;
}
/******************** end of add product page ***********************/




/* Dark mode */
/*@media (prefers-color-scheme: dark) {
  body {
    background-color: rgba(36, 36, 36, 0.9);
    color: white;
  }
}*/

/* High contrast mode */
/*@media (prefers-contrast: high) {
  body {
    background-color: black;
    color: yellow;
  }
}*/





/************************* admin order page ************************/
.admin-orders h2 {
  font-size: 1.9rem;
  color: #00295B;
  text-align: center;  
}

.admin-orders table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #00295B;
}

.admin-orders th, .admin-orders td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Style de l'en-tête du tableau */
.admin-orders th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}

/* Style des lignes du tableau */
.admin-orders tr:nth-child(even) {
    background-color: #f9f9f9;
}

.admin-orders tr:hover {
    background-color: #f1f1f1;
}

/* Style des liens dans le tableau */
.admin-orders a {
    color: #007BFF;
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.2rem;
    
}

.admin-orders a i {
  color: red;
}

.admin-orders a:hover {
    text-decoration: underline;
}
  
.hidden-column {
  display: none;
}
.admin-orders {
  padding: 1rem;
  background-color: rgba(174, 127, 36, 0.6);
}

/**********************end of admin order pag************************/
    
    
    
    


/******************* redirect confirm order page ********************/
.paiement-redirect-page {
  background-color: rgba(174, 127, 36, 0.6);
  color: #00295B;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.paiement-redirect-page table {
  width: 100%;
  border-collapse: collapse;
}

.paiement-redirect-page th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.paiement-redirect-page th.col-nom, td.col-nom {
  width: 50%;
}

.paiement-redirect-page th.col-qty, td.col-qty,
.paiement-redirect-page th.col-subtotal, td.col-subtotal {
  width: 25%;
}

.paiement-redirect-page th {
  background-color: #f2f2f2;
}

.paiement-redirect,
.paiement-info-message {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.paiement-info-message {
margin-top: 0;  
}

.paiement-redirect {
  background-color: white;
  width: 370px;
}

.paiement-info-message i {
  font-size: 4rem;
  margin-bottom: 0.7rem;
}

.confirm-order-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.order-number {
  background-color: white;
  padding: 1rem;
}

.order-total-amount {
  margin-top: 1rem;
}

.paiement-redirect-page form button {
  width: 250px;  
}

.paiement-info-message h2 {
  text-align: center;
}
/**********************end of redirect confirm order page************/





/****************** admin order details page ***********************/
.admin-order-details {
  width: 400Px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #00295B;
}

.admin-order-details table {
  width: 300px;
}

.admin-order-page {
  background: rgba(174, 127, 36, 0.6); 
  min-height: 90vh;
}
/*********************************************************************/

/*********************update order status page**********************/
.update-order-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: white;
  width: 400px;
}

.update-order-status h2 {
  font-size: 2rem;
  color: #00295B;
}
.update-order-status form button {
  width: 150px;
  margin-top: 1rem;
}
/*********************************************************************/




/******************* admin header page *****************************/
.admin-header-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.admin-header-section p a {
  font-size: 1.5rem;
  text-decoration: underline;
  color: red;
}
/*******************************************************************/




/*********************** inventory page *************************/
.inventory-section {
  background-color: rgba(174, 127, 36, 0.6);
  width: 95%;
  padding: 1rem;
  color: #00295B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inventory-section h2 {
  text-align: center;
  font-size: 1.9rem;
} 

.inventory-section h3, 
.inventory-section h4 {
  font-size: 1.6rem; 
  text-align: center;
}

.inventory-section table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: white;
}

.inventory-section table th,
.inventory-section table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.inventory-section table th {
    background-color: #f2f2f2;
}

.total-vente, 
.top-five-products{
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  width: 95%;
}
/*****************end of inventory page    ********************/




/**************** user orders page *****************************/
.user-orders-page {
  width: 97%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(174, 127, 36, 0.6);
  padding: 1rem;
}

.user-orders-page h2 {
  color: #00295B;
  font-size: 1.9rem;
}

.user-orders-table {
    overflow-x: auto;
    width: 100%;
    background-color: white;
}

.user-orders-table table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.user-orders-table th, .user-orders-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.user-orders-table th {
    background-color: #f8f8f8;
    color: #00295B;
}

.user-orders-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.user-orders-table tr:hover {
    background-color: #f1f1f1;
}

.user-orders-table td {
    color: #00295B;
}

.user-orders-table th, .user-orders-table td {
    text-align: center;
}

.user-orders-table th:first-child, .user-orders-table td:first-child {
    text-align: left;
}
/****************************************************************/



/******************* about page **********************************/
.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #00295B;
  padding: 1rem;
  background-color: white;
  margin: 1rem;
  border-radius: 15px;
  font-size: 1.3rem;
}
/****************************************************************/




/******************* about page **********************************/
.legacy-page, .privacy-policy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #00295B;
  padding: 1rem;
  background-color: rgba(174, 127, 36, 0.6);
  margin: 1rem;
  font-size: 1.3rem;
  gap: 1rem;
}

.entreprise-name, 
.heberger-info, 
.rgpd,
.right, 
.cookies, 
.update-legacy-info {
  width: 97%;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  
}

.rgpd ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.legacy-page h2, 
.legacy-page h3, 
.legacy-page h4, 
.legacy-page h5, 
.legacy-page h6 {
  font-size: 1.6rem;
  text-align: center;
}
/****************************************************************/




/******************* contact page **********************************/
.contact-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #00295B;
}
/****************************************************************/